.THIS .slds-form-element__label{
    display:block;
}
.THIS .slds-modal__content{
    overflow: none;
}.THIS .slds-icon-action-new {
    background-color: rgb(150, 142, 137);
}
.THIS .slds-icon-action-approval {
    background-color: rgb(11, 228, 18);
}